body {
    background-color: #f7f7f7;
    font-size: 16px;
}
a {
    display: inline-block;
    color: #424242;
    text-decoration: none;
}
.content {
    background-color: #ffffff;
    box-shadow: 0 10px 20px 0 rgba(236, 236, 236, 0.86);
}
.blog-title {
    padding: 20px 0;
    font-size: 24px;
    text-align: center;
}
.nav {
    display: flex;
    justify-content: flex-end;

}
.content {
    min-height: 650px;
}
.nav a {
    padding: 10px;
}
.menu-tags {
    margin: 10px 0;
    display: flex;
	justify-content: center;
    flex-wrap: wrap-reverse;
    cursor: pointer;
}
.menu-tags .red {
    color: red;
}
.menu-tag {
    display: inline-block;
    margin: 0 10px 0 0;
    font-size: 14px;
	color: #c0bfbf;
}
.menu-tag:hover {
    color: red;
}
.body ul {
    list-style-type: none
}
.body li {
    margin: 0 0 15px;
}

@media screen and (min-width: 0px) { 
    .content {
        width: 94vw;
        margin: 10px auto;
        padding: 0 2vw;
    }
}
@media screen and (min-width: 850px) { 
    .content {
        width: 800PX;
        margin: 60px auto;
        padding: 0 4vw;
    }
}