<!DOCTYPE html>
<html lang="en" style="font-size: 20px;">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="./static/index.css">
	<title>荆棘之旅</title>
</head>

<body>
	<div class="content">
		<div class="blog-title">荆棘之旅</div>
		<div id="app">
			<div class="nav">
				<router-link to="/" v-on:click.native="menu('index')">首页</router-link>
				<router-link to="/fe" v-on:click.native="menu('fe')">前端</router-link>
				<router-link to="/math" v-on:click.native="menu('math')">数学</router-link>
				<router-link to="/music" v-on:click.native="menu('music')">乐理</router-link>
			</div>
			<div v-show="!info.menuContent">
				我是首页，什么都没有
			</div>
			<div v-show="info.menuContent">
				<div class="menu-tags">
					<span class="menu-tag" :class="info.selTag==index?'red':null" v-for="(item, index) in menuTags"
						@click="tag(item, index)">{{item}}</span>
				</div>
				<div class="body">
					<ul>
						<li v-for="item in articleList">
							<a :href="item.path">{{item.name}}</a>
						</li>
					</ul>
					<div class="page-box">
						<span class="page" @click="prePage">上一页</span>
						<span class="page">{{info.page}}</span>
						<span class="page" @click="nextPage">下一页</span>
						<span class="page">共{{info.pages}}页</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script src="./static/vue.js"></script>
<script src="./static/vue-router.js"></script>
<script src="./fe/index.js"></script>
<script src="./math/index.js"></script>
<script src="./music/index.js"></script>

<script>
	const router = new VueRouter({
		routes: [
			{
				path: "/",
				name: "index",
				//component: tagsIndex
			},
			{
				path: "/fe",
				name: "fe",
				//component: feIndex
			},
			{
				path: "/math",
				name: "math",
				//component: mathIndex
			},
			{
				path: "/music",
				name: "music",
				//component: musicIndex
			},
		]
	})
	new Vue({
		el: "#app",
		router: router,
		data: function () {
			return {
				info: {
					selMenu: null,
					tagName: null,
					selTag: 0,
					menuContent: false,
					page: 0,
					pages: 0,
				},
				articleList: [],
				menuTags: [],
				menuName: [],
			}
		},
		methods: {
			tag(name, index) {
				this.info.page = 0
				this.info.selTag = index
				this.info.tagName = name
				let sum = this.menuName[name].length
				this.info.pages = Math.ceil(sum / 10)
				this.info.page += 1
				this.articleList = this.menuName[name].slice(0, 10)
				let jsonInfo = JSON.stringify(this.info)
				sessionStorage.setItem("info", jsonInfo)
			},
			nextPage() {
				if (this.info.page >= this.info.pages) {
					alert("最后一页")
					return
				}
				this.articleList = this.menuName[this.info.tagName].slice(10 * this.info.page, 10 + 10 * this.info.page)
				this.info.page += 1
			},
			prePage() {
				if (this.info.page <= 1) {
					alert("第一页")
					return
				}
				this.info.page -= 1
				this.articleList = this.menuName[this.info.tagName].slice(10 * this.info.page - 10, 10 * this.info.page)

			},
			menu(name) {//新增菜单需要在这个地方加一个判断
				this.info.selMenu = name
				let objInfo = JSON.parse(sessionStorage.getItem("info"))
				if (objInfo) {
					if (name == objInfo.selMenu) {
						this.info = objInfo
					} else {
						objInfo = null
						this.info.selMenu = name
						this.info.tagName = null
						this.info.selTag = 0
						this.info.menuContent = false
						this.info.page = 0
						this.info.pages = 0
					}
				}
				if (name == "index") {
					this.info.menuContent = false
				}
				if (name == "fe") {
					this.info.menuContent = true
					this.menuName = feCatalog
					this.menuTags = feTags
					if (objInfo) {
						this.tag(this.info.tagName, this.info.selTag)
					} else {
						this.tag(this.menuTags[0], 0)
					}
				}
				if (name == "math") {
					this.info.menuContent = true
					this.menuName = mathCatalog
					this.menuTags = mathTags
					if (objInfo) {
						this.tag(this.info.tagName, this.info.selTag)
					} else {
						this.tag(this.menuTags[0], 0)
					}
				}
				if (name == "music") {
					this.info.menuContent = true
					this.menuName = musicCatalog
					this.menuTags = musicTags
					if (objInfo) {
						this.tag(this.info.tagName, this.info.selTag)
					} else {
						this.tag(this.menuTags[0], 0)
					}
				}
				let jsonInfo = JSON.stringify(this.info)
				sessionStorage.setItem("info", jsonInfo)
			}
		},
		mounted: function () {//新增菜单需要在这个地方加一个判断
			let objInfo = JSON.parse(sessionStorage.getItem("info"))
			if (objInfo) {
				this.info = objInfo
			}
			if (window.location.hash == '#/') {
				this.info.menuContent = false
				return
			}
			this.info.menuContent = true
			if (window.location.hash == '#/fe') {
				this.menu('fe')
				return
			}
			if (window.location.hash == '#/math') {
				this.menu('math')
				return
			}
			if (window.location.hash == '#/music') {
				this.menu('music')
				return
			}
		}
	})


</script>


</html>