<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href=".././static/css/index.css">
	<script src=".././static/js/vue.min.js"></script>
	<script src=".././static/js/menuMixin.js"></script>
	<script src=".././static/js/homeMixin.js"></script>
	<script src="./articleData.js"></script>
	<title>荆棘之旅</title>
</head>

<body>
	<div id="app" v-cloak>
		<header class="header">
			<div class="title">荆棘之旅</div>
			<nav class="nav">
				<a href=".././index.html" class="nav-index">主站</a>
				<span
				  v-for="item in menuData"
					:key="item.key"
					v-on:click="switchMenu(item.key)"
					:style="{'color': (currentMenu == item.key ? '#597EF7': '#424242')}"
				>{{item.value}}</span>
			</nav>
		</header>

		<main class="main">
			<div class="homecontent" v-if="currentMenu == 'home'">
				首页内容
				<div class="date">
					<span>{{nowDate}}</span>
					<span class="day">{{day}}</span>
				</div>
			</div>
			<div class="menucontent" v-if="currentMenu != 'home'">
				<div class="artclelist">
					<div v-for="item in currentMenuData" :key="item.path">
						<a :href="item.path">{{item.name}}</a>
					</div>
				</div>
				<div class="pagebox">
					<span v-on:click="prePage" class="prePage"
						:style="{'cursor':(currentPage<=1 ? 'not-allowed' : 'pointer' )}">上一页</span>
					<span>第</span>
					<input v-model="currentPage" v-on:blur="changePage" v-on:keyup.13="changePage" type="number" />
					<span>页，共</span>
					<span>{{total}}</span>
					<span>页</span>
					<span v-on:click="nextPage" class="nextPage"
						:style="{'cursor':(currentPage>=total ? 'not-allowed' : 'pointer' )}">下一页</span>
				</div>
			</div>
		</main>
		<footer class="footer">
			<span>ICP证:</span>
			<a href="https://beian.miit.gov.cn">豫ICP备18032023号-1</a>
		</footer>
	</div>
</body>

<script>
	new Vue({
		el: "#app",
		mixins: [menuMixin, homeMixin],
	})
</script>

</html>