/* 文章页面内容样式 */


/* 通用配置 */
* {
    margin: 0;
    padding: 0;
    color: #333333;;
}

[v-cloak] {
    display: none;
}

a { /* 链接样式 */
  display: inline-block;
  color: #424242;
  text-decoration: none;
}

/* 页面 */
body {
    background-color: #f7f7f7;
    /* 禁止复制 */
    font-size: 16px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

/* 头部样式 */
#header { /* 页面头部 */
  background-color: #ffffff;
  box-shadow: 0 10px 20px -10px rgba(236, 236, 236, 0.86);
}

#header .title { /* 页面标题 */
  padding: 20px 0;
  font-size: 24px;
  text-align: center;
}

#header .nav { /* 页面导航 */
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 100%;
}
#header .nav-index { /* 导航主页样式 */
  color: #a19f9f;
}
#header .nav a { /* 导航标签样式 */
  padding: 3px 10px;
  font-weight: 500;
}


/* 底部样式 */
#footer a { /* 底部链接样式 */
  color: #a19f9f;
}
#footer a:hover { /* 底部链接样式 */
  color: red;
}
#footer { /* 页面底部 */
  text-align: center;
  margin-bottom: 10px;
  font-size: 13px;
  color: #a19f9f;
}
#footer span:last-child {
  margin-left: 20px;
  font-size: 12px;
  color: pink;
}


/* 主题样式 */
#main { /* 页面主体 */
  background-color: #ffffff;
  box-shadow: 0 10px 20px -10px rgba(236, 236, 236, 0.86);
  min-height: 450px;
  position: relative;
}

/* 主题样式 -- 文章块样式 */
#article h1, #article h2, #article h3, #article h4, #article h5, #article h6 { /* 标题 */
    margin: 6px 0;
}

#article p { /* 段落 */
    margin: 10px 0;
}


#article img { /* 图片 */
    width: 100%;
}

#article ol li ol, #article ul li ul { /* 列表 */
    padding: 0 0 0 18px;
}

#article ul, #article ol { /* 列表 */
    margin: 12px 18px;
    /* list-style-position: inside; */
}
#article ul ul, #article ol ol { /* 列表 */
    margin: 0;
}
#article li ul, #article li ol { /* 列表 */
    margin-top: 0;
    margin-bottom: 0;
}

#article table { /* 表格 */
    border-collapse: collapse;
    border-spacing: 0px;
    width: 100%;
    overflow: auto;
    break-inside: auto;
    text-align: center;
    margin: 6px 0;
}
#article table th, #article table td { /* 表格 */
    border: 1px solid #dfe2e5;
    padding: 6px 13px;
    text-align: left;
}

#article table tr:nth-child(2n),
#article thead { /* 表格 */
    background-color: #f8f8f8;
}

#article pre { /* 代码块 */
    background-color: #f8f8f8;
    overflow: auto;
    border-radius: 3px;
    margin: 6px 0;
    padding: 8px;
    border: 1px solid #e7eaed;
}
#article code { /* 代码块 */
    background-color: #f8f8f8;
    font-size: 14px;
    /* 可以复制代码 */
    -moz-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
    -khtml-user-select: text;
    user-select: text;
    
}

#article p code { /* 短代码 */
  padding: 1px 2px;
  border: 1px solid #e7eaed;
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
}

#article li input + p { /* 选择样式 */
    display: inline-block;
    padding-left: 5px;
}


/* 媒体查询，响应式 */
@media screen and (min-width: 0px) { /* 屏宽小于850px和小于450px样式 */
    #header {
      width: 94vw;
      margin: 10px auto 0;
      padding: 0 2vw;
    }
    #main {
      width: 94vw;
      margin: 0 auto 20px;
      padding: 15px 2vw 20px 2vw;
    }
    #app {
      margin-top: 30px;
      background-color: orangered;
    }
  }

  @media screen and (min-width: 850px) { /* 屏宽大于850px样式 */
    #header {
      width: 720px;
      margin: 60px auto 0;
      padding: 0 50px;
    }
    #main {
      width: 720px;
      margin: 0 auto 20px;
      padding: 15px 50px 20px 50px;
    }
    #app {
      position: fixed;
      right: 50px;
      bottom: 50%;
      width: 250px;
      background-color: orange;
      }
  }