/* 网站基本布局样式 */

[v-cloak] {
    display: none;
}

* { /* 去除元素默认样式 */
  margin: 0;
  padding-left: 0;
  word-break: break-all;
}
h1, h2 {
  font-weight: normal;
}
h1 {
  font-size: 18px;
}
h2 {
  font-size: 16px;
}
body {
  background-color: #f7f7f7;
  font-size: 16px;
}

.header { /* 页面头部 */
  background-color: #ffffff;
  box-shadow: 0 10px 20px -10px rgba(236, 236, 236, 0.86);
}

.main { /* 页面主体 */
  background-color: #ffffff;
  box-shadow: 0 10px 20px -10px rgba(236, 236, 236, 0.86);
  min-height: 450px;
}

.title { /* 页面标题 */
  padding: 20px 0;
  font-size: 24px;
  text-align: center;
}

.nav { /* 页面导航 */
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 5px;
}
.nav-index {
  color: #a19f9f;
}

.footer { /* 页面底部 */
  text-align: center;
  margin-bottom: 10px;
  font-size: 13px;
  color: #a19f9f;
}

a { /* 链接样式 */
  display: inline-block;
  color: #424242;
  text-decoration: none;
}

.nav a { /* 导航标签样式 */
  padding: 3px 10px;
  font-weight: 500;
}

.footer a { /* 底部链接样式 */
  color: #a19f9f;
}
.footer a:hover { /* 底部链接样式 */
  color: red;
}

@media screen and (min-width: 0px) { /* 屏宽小于850px和小于450px样式 */
  .header {
    width: 94vw;
    margin: 10px auto 0;
    padding: 0 2vw;
  }
  .main {
    width: 94vw;
    margin: 0 auto 20px;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom: 10px;
  }
  body {
    font-size: 15px;
  }
  .title {
    font-size: 20px;
  }
  .footer {
    font-size: 12px;
  }

  h1 {
    font-size: 17px;
  }
  h2 {
    font-size: 15px;
  }
}
@media screen and (min-width: 450px) { /* 屏宽大于450px样式 */
  body {
    font-size: 16px;
  }
  .title {
    font-size: 24px;
  }
  .footer {
    font-size: 13px;
  }
  h1 {
    font-size: 18px;
  }
  h2 {
    font-size: 16px;
  }
}
@media screen and (min-width: 850px) { /* 屏宽大于850px样式 */
  .header {
    width: 800px;
    margin: 60px auto 0;
    padding: 0 4vw;
  }
  .main {
    width: 800px;
    margin: 0 auto 20px;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-bottom: 20px;
  }
}



