/* 文章页面内容样式 */


/* 通用配置 */
* {
    margin: 0;
    padding: 0;
    color: #333333;;
}

/* 页面 */
body {
    width: 750px;
    margin: 0 auto;
    background-color: #ffffff;
    /* background-color: #f7f7f7; */
    /* 禁止复制 */
    font-size: 16px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

/* 标题 */
h1, h2, h3, h4, h5, h6 {
    margin: 6px 0;
}

/* 段落 */
p {
    margin: 10px 0;
}

/* 图片 */
img {
    width: 100%;
}

/* 列表 */
ol li ol, ul li ul {
    padding: 0 0 0 18px;
}
ul, ol {
    margin: 12px 18px;
    /* list-style-position: inside; */
}
ul ul, ol ol {
    margin: 0;
}
li ul, li ol {
    margin-top: 0;
    margin-bottom: 0;
}

/* 表格 */
table {
    border-collapse: collapse;
    border-spacing: 0px;
    width: 100%;
    overflow: auto;
    break-inside: auto;
    text-align: center;
    margin: 6px 0;
}
table th, table td {
    border: 1px solid #dfe2e5;
    padding: 6px 13px;
    text-align: left;
}
table tr:nth-child(2n),
thead {
    background-color: #f8f8f8;
}

/* 代码块 */
pre {
    background-color: #f8f8f8;
    overflow: auto;
    border-radius: 3px;
    margin: 6px 0;
    padding: 8px;
    border: 1px solid #e7eaed;
}
code {
    background-color: #f8f8f8;
    font-size: 14px;
    /* 可以复制代码 */
    -moz-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
    -khtml-user-select: text;
    user-select: text;
    
}

/* 短代码 */
p code {
  padding: 1px 2px;
  border: 1px solid #e7eaed;
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
}

/* 选择则 */
li input + p {
    display: inline-block;
    padding-left: 5px;
}

/* 媒体查询，响应式 */
@media screen and (max-width: 750px) {
    body {
        width: 95%;
    }
}
@media screen and (max-width: 425px) {
    body {
        width: 95%;
    }
}