<!DOCTYPE html>
<html lang="en" style="font-size: 20px;">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../static/css/index.css">
	<title>音乐之旅</title>
</head>

<body>
	<div class="content">
		<!--标题-->
		<div class="blog-title">
			<span>音乐之旅</span>
		</div>
		<div id="app" v-cloak>
			<!--顶部菜单栏-->
			<nav class="nav">
        <a href="./fe/index.html">前端</a>
				<!-- <router-link to="/" v-on:click.native="menu('index')">首页</router-link>
				<router-link to="/fe" v-on:click.native="menu('fe')">前端</router-link>
				<router-link to="/math" v-on:click.native="menu('math')">数学</router-link>
				<router-link to="/music" v-on:click.native="menu('music')">音乐</router-link> -->
      </nav>
			<!--“首页” 菜单内容-->
			<div v-show="!info.menuContent">
				<div class="date">
					<span>{{nowDate}}</span>
					<span class="day">{{day}}</span>
				</div>
				我是首页，什么都没有
			</div>
			<!--其他菜单内容-->
			<div v-if="info.menuContent">
				<!--标签-->
				<div class="menu-tags">
					<span class="menu-tag" :class="info.selTag==index?'red':null" v-for="(item, index) in menuTags" @click="tag(item, index)">
						{{item}}
					</span>
				</div>
				<!--标签内容-->
				<div class="body">
					<!--标签列表-->
					<ul>
						<li v-for="item in articleList">
							<a :href="item.path">{{item.name}}</a>
						</li>
					</ul>
					<!--翻页按钮-->
					<div class="page-box">
						<span class="page" @click="prePage">上一页</span>
						<span class="page">{{info.page}}</span>
						<span class="page" @click="nextPage">下一页</span>
						<span class="page">共{{info.pages}}页</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer">
		<span>备案号：</span>
		<a href="http://www.beian.gov.cn">豫ICP备18032023号</a>
	</div>
</body>
<script src="./static/js/vue.min.js"></script>
<script src="./static/js/vue-router.js"></script>
<!--前端-->
<script src="./web/index.js"></script>
<!--数学-->
<script src="./math/index.js"></script>
<!--音乐-->
<script src="./music/index.js"></script>

<script>
	const router = new VueRouter({
		routes: [
			{
				path: "/",
				name: "index",
				//component: tagsIndex
			},
			{
				path: "/fe",
				name: "fe",
				//component: feIndex
			},
			{
				path: "/math",
				name: "math",
				//component: mathIndex
			},
			{
				path: "/music",
				name: "music",
				//component: musicIndex
			},
		]
	})
	new Vue({
		el: "#app",
		router: router,
		data: function () {
			return {
				info: {
					selMenu: null,
					tagName: null,
					selTag: 0,
					menuContent: false,
					page: 0,
					pages: 0,
				},
				articleList: [],
				menuTags: [],
				menuName: [],
				nowDate: '',
				day: ''
			}
		},
		methods: {
			//获取标签，并加载标签内容
			tag(name, index) {
				this.info.page = 0
				this.info.selTag = index
				this.info.tagName = name
				let sum = this.menuName[name].length
				this.info.pages = Math.ceil(sum / 10)
				this.info.page += 1
				this.articleList = this.menuName[name].slice(0, 10)
				let jsonInfo = JSON.stringify(this.info)
				sessionStorage.setItem("info", jsonInfo)
			},
			//向下翻页
			nextPage() {
				if (this.info.page >= this.info.pages) {
					alert("最后一页")
					return
				}
				this.articleList = this.menuName[this.info.tagName].slice(10 * this.info.page, 10 + 10 * this.info.page)
				this.info.page += 1
			},
			//向上翻页
			prePage() {
				if (this.info.page <= 1) {
					alert("第一页")
					return
				}
				this.info.page -= 1
				this.articleList = this.menuName[this.info.tagName].slice(10 * this.info.page - 10, 10 * this.info.page)

			},
			//获取菜单并加载标签
			menu(name) {//新增菜单需要在这个地方加一个判断
				this.info.selMenu = name
				let objInfo = JSON.parse(sessionStorage.getItem("info"))
				if (objInfo) {
					if (name == objInfo.selMenu) {
						this.info = objInfo
					} else {
						objInfo = null
						this.info.selMenu = name
						this.info.tagName = null
						this.info.selTag = 0
						this.info.menuContent = false
						this.info.page = 0
						this.info.pages = 0
					}
				}
				if (name == "index") {
					this.info.menuContent = false
				}
				if (name == "fe") {
					this.info.menuContent = true
					this.menuName = feCatalog //目录
					this.menuTags = feTags //标签
					if (objInfo) {
						this.tag(this.info.tagName, this.info.selTag)
					} else {
						this.tag(this.menuTags[0], 0)
					}
				}
				if (name == "math") {
					this.info.menuContent = true
					this.menuName = mathCatalog
					this.menuTags = mathTags
					if (objInfo) {
						this.tag(this.info.tagName, this.info.selTag)
					} else {
						this.tag(this.menuTags[0], 0)
					}
				}
				if (name == "music") {
					this.info.menuContent = true
					this.menuName = musicCatalog
					this.menuTags = musicTags
					if (objInfo) {
						this.tag(this.info.tagName, this.info.selTag)
					} else {
						this.tag(this.menuTags[0], 0)
					}
				}
				let jsonInfo = JSON.stringify(this.info)
				sessionStorage.setItem("info", jsonInfo)
			},
			getDate () {
				let nowDate = new Date() // 当前时间
				let endDate = new Date("dec 1 2025 00:00:00") // 结束时间2025-12-1
				let endTime = endDate.getTime() // 结束时间毫秒数
				let nowTime = nowDate.getTime() // 当前时间毫秒数
				this.day = Math.floor(((endTime - nowTime)/(60*60*24*1000))) // 剩余天数
				let date = nowDate.toLocaleDateString().replace(/\//g, '-') // 获取当前时间日期
				let time = nowDate.toLocaleTimeString() // 获取当前时间时间
				if (time.includes('上午')) {
					let hour = 0
					if (Number(time.slice(2,4)) == 12) {
						hour = Number(time.slice(2,4)) - 12 + '0'
					} else {
						hour = '0' + Number(time.slice(2,3))
					}
					time = time.replace(/上午[0-9][0-9]/, hour)
					this.nowDate = date + " " + time
					return
				}
				if (time.includes('下午')) {
					let hour = Number(time.split(':')[0].slice(2)) + 12 + ''
					time = time.replace(/下午[0-9]{1,2}/, hour)
					this.nowDate = date + " " + time
					return
				}

			}
		},
		//页面加载时调用
		created: function () {//新增菜单需要在这个地方加一个判断
		    this.getDate()
		    setInterval(() => {
				this.getDate()
			}, 1000)
			let objInfo = JSON.parse(sessionStorage.getItem("info"))
			if (objInfo) {
				this.info = objInfo
			}
			if (window.location.hash == '#/') {
				this.info.menuContent = false
				return
			}
			this.info.menuContent = true
			if (window.location.hash == '#/fe') {
				this.menu('fe')
				return
			}
			if (window.location.hash == '#/math') {
				this.menu('math')
				return
			}
			if (window.location.hash == '#/music') {
				this.menu('music')
				return
			}
		}
	})


</script>


</html>